body {
  background-color: #ff0000;
}

p {
  font-size: 10px;
}

.container {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container div{
  height: 100vh;
}

@media screen  and (min-width: 786px) {
  .container {
    width: 680px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;
  }
}

.full-height {
  padding: 1rem 1rem 5rem 1rem;
  height: 100vh;
}
h1 {
  font-size: 2.4rem;
}

.full-width {
  width: 100%;
}

nav {
  background-color: #dadada;
}

nav .container {
  background-color: #dadada;
}

section .container {
  height: 100vh;
}

.container p {
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding: 1rem;
}
